<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602494407443-vnrj7tvn8uu22ss1278felrc1fm8lops.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602494407443-vnrj7tvn8uu22ss1278felrc1fm8lops</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>602494407443-06ositkj0dl86idc9iqqcfprrhpd48tp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAq0amng-o77NXLx0ZgCGrIsK92B9ahHXo</string>
	<key>GCM_SENDER_ID</key>
	<string>602494407443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kvk.kvk-app</string>
	<key>PROJECT_ID</key>
	<string>kvk-farmer-s-app</string>
	<key>STORAGE_BUCKET</key>
	<string>kvk-farmer-s-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602494407443:ios:a0432adbbea585d577c0e6</string>
	<key>DATABASE_URL</key>
	<string>https://kvk-farmer-s-app.firebaseio.com</string>
</dict>
</plist>